{% extends "base.html" %}
{% block title %}State Lyme Incidence | County {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <h2>ENTER COUNTY AND STATE INFO</h2>
            <form action="url_for('fetch')" method="POST">
                <div class="form-group">
                    <label for="exampleInputCounty">County</label>
                    <input type="text" class="form-control" name="cnty" placeholder="County"></input>
                </div>
                <div class="form-group">
                    <label for="exampleInputState">State</label>
                    <input type="text" class="form-control" name="st" placeholder="State"></input>
                </div>
                <div class="form-group">
                    <p><a class="btn btn-primary float-right" href="">
                            Find County Info</a></p>
                </div>
                <br>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>
<div class=" container">
    <div class="row">
        <div class="col md-12">
            <div class="table-responsive">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th>FIPS</th>
                            <th>County</th>
                            <th>State</th>
                            <th>Average Health Rank</th>
                            <th>Population</th>
                            <th>Ticks With Lyme?</th>
                            <th>Lyme Cases/100000</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in datas%}
                        <tr>
                            <td>{{ row.FIPS }}</td>
                            <td>{{ row.County }}</td>
                            <td>{{ row.State }}</td>
                            <td>{{ row.Avg_Health_Rank }}</td>
                            <td>{{ row.Population }}</td>
                            <td>{{ row.Ticks_With_Lyme }}</td>
                            <td>{{ row.Lyme_Cases_Reported_per_100000 }}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock body %}